@font-face {
	font-family: 'CollectionFree';
	src: url(../../assets/fonts/CollectionFreeRegular.woff2) format('woff2'),
	url(../../assets/fonts/CollectionFreeRegular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}