@font-face {
	font-family: 'Tropical Summer Signature';
	src: url(../../assets/fonts/TropicalSummerSignature.woff2) format('woff2'),
	url(../../assets/fonts/TropicalSummerSignature.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}